

.App {
  font-family: sans-serif;
  text-align: center;

}

.header {
  width: 100%;
  height: 20vh;
  background-color: #495143;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-header {
  display: flex;
  grid-gap: 16px;
  flex-direction: column;
}

option{
  color:#fff;

  background-color: #aebccd;
}

